

 :root{
  --teal: #2ec1ac;
  --teal_hover: #279e8c;
}

* {
      font-family: 'Poppins', sans-serif;
    }
    .h-font {
      font-family: 'Merienda', cursive;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    

    .custom-bg {
      background-color: var(--teal) !important;
      border: 1px solid var(--teal);
      color: white; /* Button text color */
  }
  
  .custom-bg:hover {
      background-color: var(--teal_hover);
      border-color: var(--teal_hover);
  }
  

.h-line{
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}

.h-font {
  font-family: 'Merienda', cursive;
}



  /* Set fixed height for the Swiper container */
  .swiper-container {
    width: 100%;
  }

  .swiper-slide {
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }

   /* Set images to cover the slide area */
   .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images fill the slide uniformly */
    display: block;
  }

  .custom-alert{
    position: fixed;
    top: 80px;
    right: 25px;
  }

  #dashboard-menu{
    position: fixed;
    height: 100%;
    z-index: 11;
  }

  @media screen and (max-width: 991px) {
    body #dashboard-menu {
      height: auto;
      width: 100%;
    }
  }
  
  #main-content{
    margin-top: 60px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align the content */
    justify-content: flex-start; /* Ensure the items start at the top */
}

.swiper-slide img {
    margin-bottom: 10px; /* Space between the image and the name */
}

.custom-alert{
  position: fixed;
  top: 80px;
  right: 25px;
}

